/* style.css */
body {
  font-family: Arial, sans-serif;
  background-color: #546fcb;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  text-align: center;
  color: #000000;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  color: #555;
  margin: 3px 0;
}

.footer {
  padding: 32px 0;
  position: absolute;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.footer p {
  margin: 0;
  line-height: 26px;
  font-size: 15px;
  color: #fff;
}

.footer p a {
  background: linear-gradient(to right, #8a2387, #e94057, #f27121);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-decoration: none;
}

.footer p a:hover {
  color: white;
}

.cardss {
  display: flex;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 50px;
  justify-content: center;
  align-items: center;
  height: 50vh;

  font-family: 'Baloo Paaji 2', cursive;
}

.card {
  background-color: #222831;
  height: 21rem;
  width: 21rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.7);
  color: white;
}
.dcard {
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 2;
}
.card__name {
  margin-top: 15px;
  font-size: 1.5em;
  color: red;
}

.card__image {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border: 5px solid #272133;
  margin-top: 20px;
  box-shadow: 0 10px 50px rgba(113, 25, 113, 1);
}

.grid-container {
  display: flex;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  font-size: 1.2em;
}
.server-info {
  background-color: #222831;
  height: 21rem;
  width: 25rem;
  border-radius: 5px;
  flex-direction: row;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.7);
  color: white;
  margin: auto;
}

.server-info h2 {
  font-size: 24px;
  color: #333;
}

.server-info p {
  color: #777;
}

.server-info h3 {
  font-size: 18px;
  margin-top: 10px;
}

.server-info ul {
  list-style: none;
  padding: 0;
}

.server-info li {
  font-size: 16px;
  color: #555;
  margin-bottom: 5px;
}

/* Adjust the styles as needed to match your design preferences */
